body {
  font-family: "Times New Roman"; }

.header-wrapper {
  background-image: url("http://localhost/biolatte%20img/fonas4.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  background-size: cover; }
  .header-wrapper .container-header {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 0px; }

.virsutinis-meniu {
  float: left;
  background-image: url("http://localhost/biolatte%20img/meniu2.png");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  box-shadow: 1px 5px 5px grey; }
  .virsutinis-meniu li {
    display: inline-block;
    margin-top: 11px;
    float: right; }
  .virsutinis-meniu a {
    font-size: 20px;
    color: #52a235;
    padding: 10px 10px; }
  .virsutinis-meniu a:hover {
    color: #a1a1a1; }
  .virsutinis-meniu .krepselis {
    float: right;
    color: #52a235;
    font-size: 25px;
    padding: 5px;
    border-color: #a3ae9b;
    border-left-style: solid;
    margin: 2px; }

.apatinis-meniu {
  background-color: white;
  opacity: 0.7;
  width: 100%;
  height: 130px;
  padding-right: 30px;
  position: relative; }
  .apatinis-meniu li {
    display: inline; }
  .apatinis-meniu a {
    font-size: 20px;
    color: #52a235;
    padding-right: 20px;
    float: right;
    padding-top: 75px; }
  .apatinis-meniu a:hover {
    color: #a1a1a1; }
  .apatinis-meniu .logo {
    padding-top: 67px;
    margin-left: 70px;
    opacity: 1.0;
    position: absolute; }

/* index*/
.container-store {
  background-image: url("http://localhost/biolatte%20img/store1.png");
  width: 100%;
  height: 80px;
  text-align: center;
  box-shadow: 1px 5px 5px grey; }
  .container-store .button {
    background-color: #4f7500;
    border: 2px solid white;
    border-radius: 35px;
    color: white;
    padding: 15px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    margin: 10px 40px;
    outline: none; }
  .container-store .button-center {
    background-color: #4f7500;
    border: none;
    border-radius: 35px;
    color: white;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    margin: 22px 40px;
    outline: none; }

.container-buteliuku {
  margin: 110px 80px; }
  .container-buteliuku .buteliuku-foto {
    width: 23%;
    height: 320px;
    float: left;
    margin: 10px; }
  .container-buteliuku .buteliuku-img {
    padding-bottom: 25px;
    border-bottom: 2px solid #202020;
    text-align: center; }
  .container-buteliuku .button-cart {
    background-color: #248804;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    outline: none;
    float: left; }
  .container-buteliuku .pavadinimas {
    font-size: 20px;
    color: #248804;
    font-weight: bold; }

.container-buteliuku .container .kaina2 {
  color: #8f0101;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0px; }

.container-buteliuku .kaina1 p {
  color: #989898;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 0px; }

.buteliuku-foto {
  position: relative; }

.button-cart {
  position: absolute;
  left: 57px;
  top: 275px; }

.container-wrapper {
  background-color: #c3e25a; }

.container-zmoniu {
  margin: 80px;
  background-color: #c3e25a;
  margin: 80px; }

.zmoniu-foto-wrapper .zmoniu-foto {
  float: left;
  border: 2px solid white;
  width: 21%;
  margin: 20px;
  text-align: center;
  padding: 10px; }
.zmoniu-foto-wrapper .zmoniu-img img {
  border-radius: 50%; }
.zmoniu-foto-wrapper .zmoniu-uzrasai {
  color: #248805; }

.container-obuolys {
  margin: 0px 0px; }

.obuolys-uzrasai-wrapper {
  background: url("http://localhost/biolatte%20img/obuolys-foto1.png");
  width: 100%;
  height: 520px;
  background-repeat: no-repeat; }
  .obuolys-uzrasai-wrapper .uzrasai {
    float: left;
    margin: 60px 50px;
    color: #248805; }
    .obuolys-uzrasai-wrapper .uzrasai h3 {
      font-size: 40px; }
    .obuolys-uzrasai-wrapper .uzrasai p {
      font-size: 18px; }

.mygtukas {
  color: white;
  background-color: #248805;
  padding: 15px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); }

.container-delivery {
  background-image: url("http://localhost/biolatte%20img/delivery-foto.png");
  background-repeat: no-repeat;
  border: 1px solid black;
  position: relative;
  height: 250px;
  margin-bottom: 60px; }
  .container-delivery .delivery-uzrasas-wrapper {
    text-align: center;
    position: absolute;
    top: 40px; }

.linija1 {
  border-left: 1px solid black;
  height: 170px;
  position: absolute;
  left: 432px;
  top: 40px; }

.linija2 {
  border-left: 1px solid black;
  height: 170px;
  position: absolute;
  left: 812px;
  top: 40px; }

.facebook img {
  width: 100%;
  height: 360px; }

.biolatte-uzrasas, .facebook {
  color: #248805;
  font-weight: bold; }

/*# sourceMappingURL=style.css.map */
