body {
  font-family: "Times New Roman"; }

.header-wrapper {
  background-image: url("http://localhost/biolatte%20img/fonas4.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
  background-size: cover; }

.virsutinis-meniu {
  float: left;
  background-image: url("http://localhost/biolatte%20img/meniu2.png");
  width: 1260px;
  height: 54px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  box-shadow: 1px 5px 5px grey; }
  .virsutinis-meniu li {
    display: inline-block;
    margin-top: 11px;
    float: right; }
  .virsutinis-meniu a {
    font-size: 20px;
    color: #52a235;
    padding: 10px 10px; }
  .virsutinis-meniu a:hover {
    color: #a1a1a1; }
  .virsutinis-meniu .krepselis {
    float: right;
    color: #52a235;
    font-size: 25px;
    padding: 5px;
    border-color: #a3ae9b;
    border-left-style: solid;
    margin: 2px; }

.apatinis-meniu {
  background-color: white;
  opacity: 0.7;
  width: 100%;
  height: 130px;
  padding-right: 30px;
  position: relative; }
  .apatinis-meniu li {
    display: inline; }
  .apatinis-meniu a {
    font-size: 20px;
    color: #52a235;
    padding-right: 20px;
    float: right;
    padding-top: 75px; }
  .apatinis-meniu a:hover {
    color: #a1a1a1; }
  .apatinis-meniu .logo {
    padding-top: 67px;
    margin-left: 70px;
    opacity: 1.0;
    position: absolute; }

/* index*/
.container-store {
  background-image: url("http://localhost/biolatte%20img/store1.png");
  width: 100%;
  height: 80px;
  text-align: center;
  box-shadow: 1px 5px 5px grey; }
  .container-store .button {
    background-color: #4f7500;
    border: 2px solid white;
    border-radius: 35px;
    color: white;
    padding: 15px 55px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    margin: 10px 40px;
    outline: none; }
  .container-store .button-center {
    background-color: #4f7500;
    border: none;
    border-radius: 35px;
    color: white;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    margin: 22px 40px;
    outline: none; }

.container-buteliuku {
  margin: 110px 80px; }
  .container-buteliuku .buteliuku-foto {
    width: 23%;
    height: 320px;
    float: left;
    margin: 10px; }
  .container-buteliuku .buteliuku-img {
    padding-bottom: 25px;
    border-bottom: 2px solid #202020; }
  .container-buteliuku .button-cart {
    background-color: #248804;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    outline: none;
    float: right; }
  .container-buteliuku .pavadinimas {
    font-size: 20px;
    color: #248804;
    font-weight: bold; }
  .container-buteliuku .kaina1 {
    color: #989898;
    font-size: 21px;
    font-weight: bold; }
  .container-buteliuku .kaina2 {
    color: #8f0101;
    font-size: 21px;
    font-weight: bold; }
  .container-buteliuku .kaina1, .container-buteliuku .kaina2 {
    float: left; }

/*# sourceMappingURL=style.css.map */
